extends layout

block content
  .container
    h1 Contact List

    if user
      p Welcome, #{user.Username}!
    else
      p.text-muted You are not logged in. You can still view and add contacts, but cannot edit or delete them.

    a.btn.btn-success.btn-add-contact(href='/contacts/new') Add New Contact


    // Contact Table
    table.table.table-bordered.table-striped
      thead
        tr
          th Name
          th Phone
          th Email
          th Address
          th Coordinates
          th Actions
      tbody
        each contact in contacts
          tr(data-lat=contact.Lat, data-lng=contact.Lng, onclick='onRowClick(event)')
            td #{contact.Title} #{contact.FirstName} #{contact.LastName}
            td #{contact.Phone}
            td #{contact.Email}
            td #{contact.Address}
            td
              | Lat: #{contact.Lat}
              br
              | Lng: #{contact.Lng}
            td
              if user
                a.btn.btn-sm.btn-outline-primary(href=`/contacts/${contact.ID}/edit`) Edit
                a.btn.btn-sm.btn-outline-danger.ms-2(href=`/contacts/${contact.ID}/delete`) Delete
              else
                span.text-muted Login to edit/delete

    // Map Section
    hr
    #map-container
      #map

  // Scripts
  script(src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js')
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  script(src='/main.js')

  // Styles
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.9.3/dist/leaflet.css')
  style.
    #map-container {
      margin-top: 30px;
      height: 500px;
    }
    #map {
      width: 100%;
      height: 100%;
    }
    tr {
      cursor: pointer;
    }
